<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Edureka tests">
  <test thread-count="5" name="UI validation">
    <classes>
      <class name="demotest._4TestWithBeforeMethod"/>
      <class name="demotest._5TestWithBeforeClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->